**/.env
**/.env.*
!**/.env.example
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.json

# Kubespray upstream & virtualenv
kubespray/
!kubespray/inventory/
kubespray/inventory/*
!kubespray/inventory/mycluster/
kubespray/venv/
# Ignore all files in the root directory except README.md and README_old.md
README_old.md
