**/.env
**/.env.*
!**/.env.example
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.json

# Kubespray upstream & virtualenv
kubespray/
!kubespray/inventory/
kubespray/inventory/*
!kubespray/inventory/mycluster/
kubespray/venv/